div#generador {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

div.gen-meme {
  width: 50%;
}

div.gen-form {
  width: 40%;
}

div.meme {
  width: 100%;
  margin: 0 auto;
}

div.meme > p {
  position: relative;
  font-size: 35px;
  text-align: center;
}

div.meme > p.arriba {
  top: 80px;
}

div.meme > p.abajo {
  bottom: 80px;
}

div.meme > img {
  width: 100%;
}

div#lista-memes {
  width: 70%;
  margin: 0 auto;
  max-width: 600px;
}

/* nav > a.enlace {
  margin-left: 30px;
} */

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

header > h1 {
  color: #ffca6a;
}

nav {
  margin-right: 30px;
}

nav > ul > li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

nav > ul > li > a {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ffca6a;
}

nav > ul > li > a:hover {
  background-color: #ffca6a;
  color: rgba(0, 0, 0, 0.6);
}

.btn {
  width: 40%;
  height: 40px;
  max-height: 70px;
  font-size: 20px;
  box-shadow: 5px 5px 10px black;
}

.btn.btn-primary {
  background-color: #ffca6a;
  color: #000000;
}

.btn.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffca6a;
}

.btn.btn-danger {
  background-color: #7FC7C4;
  color: rgba(0, 0, 0, 0.6);
}

.btn.btn-danger:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #7FC7C4;
}